.choice {
  width: 85%;
  height: 70px;
  padding-bottom:10px;
  margin: 10px auto;
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  background-color: cornflowerblue;
  text-align: center;
  line-height: 70px; /* same as height! */
}

.green {
  background-color: forestgreen;
}

.red {
  background-color: red;
}

.answer-counter {
  font-size: 1.5em;
  text-align: center;
}

.answer-counter span {
  margin: 0 auto;
}

.progress-bar-container{
  width: 85%;
  margin: 30px auto 0 auto;
}

#current-word {
  font-size: 3em;
}

#kanji {
  font-size: 1.5em;
}

#word-container {
  height: 140px;
  text-align: center;
  padding-top: 20px;
}
