<div style="width:100%">
  <div id="word-container">
    <div id="current-word">{{currentWord?.furigana}}</div>
    <div id="kanji" *ngIf="currentWord?.kanji">({{currentWord.kanji}})</div>
  </div>
  <div *ngIf="currentMeanings" class="container">
    <div *ngFor="let m of currentMeanings" class="row">
      <div class="choice" [ngClass]="setSolutionColor(m.correct)" (click)="revealSolution(m.correct)">{{m?.value}} </div>
    </div>
    <br>
    <div class="row answer-counter">
      <span>Correct: {{correctAnswersCounter}} - Wrong: {{wrongAnswersCounter}}</span>
      <button class="btn btn-default" (click)="openA2HSDialog($event)">Install</button>
    </div>
  </div>

</div>




